# Entornos virtuales de Python
venv/
.venv/

# Archivos de caché de Python
__pycache__/
*.pyc

# Configuración de VS Code (opcional, algunos prefieren no ignorar esto)
.vscode/

# Archivos de credenciales y variables de entorno (MUY IMPORTANTE)
.env
*.env

# Archivos del sistema operativo
.DS_Store
Thumbs.db